<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <typeAliases>
    <!-- <typeAlias type="com.pojo." alias=""/> -->
    <!-- 使用包扫描将该包下所有的类起别名
    别名默认为类名  -->
    <package name="com.pojo"/>
  </typeAliases>
  
 
</configuration>
